.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  background-color: green;
  width: 15px;
  height: 40px;
  /* border-radius: 50%; */
  cursor: pointer;
  border: 2px solid green;
}

.marker-warning, .marker-problem {
    border-color: orange;
  background-color: white;
}

.marker-warning:after, .marker-problem:after {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: orange;
  content: ' ';
}

.marker-problem {
    border-color: red;
}

.marker-problem:after {
    background-color: red;
}

.marker.marker-ebike:before {
    content: "↯";
    color: white;
  font-size: 1rem;
  margin: auto;
}

/* colours for various different bike station fullness */

.marker-empty:after {
  top: 100%;
}

.marker-low:after {
  top: 80%;
}

.marker-docks-low:after {
  top: 20%;
}

.marker-full:after {
  top: 0%;
}


.marker-ebike {
  display: flex;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
}

.info__item {
    width: 50px;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
}

.mapboxgl-popup-close-button {
  display: none;
}

.info__item div {
  text-align: center;
}


.info__item .num {
  font-size: 2rem;
  margin-bottom: .5rem;
}


/* 

.marker-ebike::after {
  position: absolute;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;
  border-radius: 100%;
  top: -5px;
  left: -5px;
  text-align: center;
  line-height: 1rem;
  color: black;
  border: 1px solid black;
}
*/
