:root {
    --low-color: orange;
    --full-color: #ff6000;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    font-family: 'Open Sans', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
}

.info__item {
    width: 50px;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.mapboxgl-popup-close-button {
    display: none;
}

.info__item div {
    text-align: center;
}


.info__item .num {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.time {
    color: #999;
    top: 5px;
    left: 5px;
}

.marker-icon {
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.marker-icon--low {
    background-color: var(--low-color);
}

.marker-icon--full {
    background-color: var(--full-color);
}

.marker-icon--low,
.marker-icon--full {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.marker-icon--low::after,
.marker-icon--full::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.marker-icon--low::after {
    background-color: var(--low-color);
}

.marker-icon--full::after {
    background-color: var(--full-color);
}

.marker-icon--low:hover,
.marker-icon--full:hover {
    transform: scale(1.2);
}

.marker-icon--low:hover::after,
.marker-icon--full:hover::after {
    transform: scale(1.2);
}

.marker-icon--low:hover {
    z-index: 1;
}

.marker-icon--full:hover {
    z-index: 2;
}

.marker-icon--low:hover~.marker-icon--low::after,
.marker-icon--full:hover~.marker-icon--full::after {
    transform: scale(1.2);
}

.marker-icon--low:hover~.marker-icon--low,
.marker-icon--full:hover~.marker-icon--full {
    transform: scale(1.2);
}

.marker-icon--low:hover~.marker-icon--low:hover::after,
.marker-icon--full:hover~.marker-icon--full:hover::after {
    transform: scale(1.2);
}

.marker-icon--low:hover~.marker-icon--low:hover,
.marker-icon--full:hover~.marker-icon--full:hover {
    transform: scale(1.2);
}

.marker-icon--low:hover~.marker-icon--low:hover~.marker-icon--low::after,
.marker-icon--full:hover~.marker-icon--full:hover~.marker-icon--full::after {
    transform: scale(1.2);
}

.marker-icon--low:hover~.marker-icon


